<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<style>
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

.myform{
	margin:10px;
	width:400px;
	padding:14px;
}

#stylized{
	border:solid 1px #ddd;
  margin:20% auto;

}
#stylized h1 {
	font-size:16px;
	font-weight:bold;
	margin-bottom:8px;
	font-family:nanumgothic,dotum;

}
#stylized p{
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
	font-family:dotum;
}
#stylized label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
	font-family:tahoma;
}
#stylized .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
	font-family:dotum;
	letter-spacing:-1px;
}
#stylized div{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #ddd;
text-align:center;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
text-align:center;
line-height:31px;
background-color:#000;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
font-family:tahoma;
}

label{margin-top:6px;}
</style>


<div id="stylized" class="myform" >
<h1 style="text-align:center;"><%=list[0].new_title%></h1>

<label>기자이름</label>
<div class=""><%=list[0].reporter%></div>

<label>신문사</label>
<div class=""><%=list[0].company%></div>

<label>링크</label>
<div class=""><%=list[0].link%></div>
<a href="/postModify?v=<%=list[0]._id %>"> <button type="submit" style="margin-bottom:2px;">수정</button></a>
<a href="/postBakze?v=<%=list[0]._id %>"> <button type="submit" style="margin-bottom:2px;">박제</button></a>

<a href="/"><button type="submit">목록</button></a>


</div>

</body>
<% include partials/script %>
</html>
<script type="text/javascript">

<% if (status == 9 ){%>
alert("추천했습니다");
<%}%>

</script>
