<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<style>
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

.myform{
	margin:10px;
	width:400px;
	padding:14px;
}

#stylized{
	border:solid 1px #ddd;
  margin:20% auto;

}
#stylized h1 {
	font-size:16px;
	font-weight:bold;
	margin-bottom:8px;
	font-family:nanumgothic,dotum;

}
#stylized p{
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
	font-family:dotum;
}
#stylized label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
	font-family:tahoma;
}
#stylized .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
	font-family:dotum;
	letter-spacing:-1px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
text-align:center;
line-height:31px;
background-color:#000;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
font-family:tahoma;
}

label{margin-top:6px;}
</style>


<div id="stylized" class="myform" >
<form id="form" name="form" method="post" action="postUpdated" >
<h1 style="text-align:center;"><%=list[0].new_title%> 수정</h1>

<label>타이틀</label>
<input type="text" name="title" id="title" placeholder="제목" value="<%=list[0].new_title%>"/>

<label>신문사</label>
<input type="text" name="company" id="company" placeholder="신문사" value="<%=list[0].company%>"/>

<label>기자</label>
<input type="text" name="reporter" id="reporter" placeholder="기자" value="<%=list[0].reporter%>"/>

<label>내용</label>
<input type="text" name="content" id="content" placeholder="내용" value="<%=list[0].content%>"/>

<label>링크</label>
<input type="text" name="link" id="link" placeholder="링크" value="<%=list[0].link%>"/>

<label>비밀번호</label>
<input type="password" name="password" id="password" placeholder="비밀번호" />


<input type="hidden" name="_id" id="_id" value="<%=list[0]._id%>"/>
<input type="hidden" name="passwordCpm" id="passwordCpm" value="<%=list[0].password%>"/>



<button type="submit" style="margin-bottom: 3px;">수정완료</button>

</form>
<a href="/"><button style="margin-bottom: 3px;">목록</button></a>
<a href="/postDelete?v=<%=list[0]._id %>"><button>삭제</button></a>
</div>

</body>
<% include partials/script %>
</html>
